*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: #464646;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.todoItem{
	padding: 10px;
	margin: 10px;
	box-shadow: 1px 1px 10px 1px #CCC7,0px 0px 0px 1px #3333333d;
	position: relative;
}
.todoContainer {

    width: 60%;
    margin: auto;

}